<div id="<%= dom_id inventory %>">
  <p>
    <strong>Sheet type:</strong>
    <%= inventory.sheet_type %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= inventory.width %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= inventory.length %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= inventory.depth %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= inventory.color %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= inventory.location %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= inventory.enterprise_id %>
  </p>

</div>
