<div id="<%= dom_id production_order %>">
  <p>
    <strong>Start date:</strong>
    <%= production_order.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= production_order.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= production_order.status %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= production_order.order_id %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= production_order.machine_id %>
  </p>

</div>
