<div id="<%= dom_id machine %>">
  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= machine.machine_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= machine.status %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= machine.enterprise_id %>
  </p>

</div>
